@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
  font-family: "Source Sans Pro", sans-serif;
}

.page_main {
  padding-left: 275px;
}

a {
  text-decoration: none;
  color: #ffff;
}

.circle-background {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-progress {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid blue;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center bottom;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
